*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:#306F99;
    color: white;
    padding: 10px;
}
header div h4{
    padding-left: 10%;
}
.text-red{
    color: red;
}
.banner{
    background-color: #fff;
    color: black;
    padding: 20px 0px 20px 10%;
}
.bg-red{
    background-color: #E51212;
}
.nav-link{
    margin-right: 20px;
    font-size: 18px;
}

.carousel{
    height: 450px;
    margin-bottom: 50px;
}

.carousel .carousel-item{
    height: 450px;
}
.carousel-inner > .carousel-item> img{
    position: absolute;
    height: 450px;
    min-width: 100%;
    top: 0px;
    left: 0px;
}
footer{
    background-color: #306F99;
    padding: 20px;
    text-align: center;
    color: white;
}
